<section id="about" class="x-section white-bg">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="module-header about-header">
          <h4>About</h4>
        </div>
        <!-- end module-header -->
      </div>
      <div class="span12 hero-unit text-center">
        <h1>Launch your startup in 54 hours</h1>
        <h3>
          <time datetime="{{ event_start|date('Y-m-d') }}">{{ event_start|date('d') }}</time>
          -
          <time datetime="{{ event_end|date('Y-m-d') }}">{{ event_end|date('d') }}</time>
            {{ event_start|date('M Y') }}, Frankfurt</h3>
        <h4>{{ description }}</h4>
      </div>
      <!-- end hero-unit -->
      <div class="span12">
        <div class="divider-space"></div>
      </div>
      <div class="span4 text-center">
        <div class="icon-wrap large color1"><i class="iconf-lightbulb"></i> </div>
        <h3>Pitch your idea</h3>
        <p>Pitch your idea in front of an international audience. Make it count because only the 10 best ideas will be executed during the weekend.</p>
      </div>
      <div class="span4 text-center">
        <div class="icon-wrap large color2"><i class="iconf-beaker"></i> </div>
        <h3>Build your startup</h3>
        <p>Meet the people that will help you bring your idea to life or join a team that fascinates you and work with them during the whole weekend.</p>
      </div>
      <div class="span4 text-center">
        <div class="icon-wrap large color3"><i class="iconf-star"></i> </div>
        <h3>Present your product</h3>
        <p>On Sunday your idea will be judged by a panel of international entrepreneurs and startup experts. The winning teams will receive exciting prices and continued support by the judges!</p>
      </div>
    </div>
    <!-- end row -->
    <div class="span12 text-center">
      <h3>Startup Weekend returns to Frankfurt/RheinMain!</h3>
      <p>This time around the team is paying tribute to the rapidly growing financial technology (FinTech) community in Frankfurt. Together with leading heads of the financial sector, in the representative Silver Tower of the Deutsche Bahn AG, we will discover and promote innovative business ideas and new imaginative solutions.</p></br><p>Startup Weekend is all about inspiring people to bring their ideas to life. Therefor we invite everyone with a fintech or non-fintech idea to take part in our event.</p></br><p>
      The financial industry has been in transition for some time. A variety of young businesses with unconventional services and products have flooded the market and turned long standing relationships inside out. No matter if it is Payment Services, Trading Software or Debit Management Solutions; the Startup Weekend FinTech wants to be a platform for exchanging and promoting innovative solutions to problems.</p></br><p>
      As a partner of the Startup Weekend, you will be listening to the pulse of the time. You will encounter the formation of new and disruptive ideas, and meet with the innovators and early adopters that will form the world of tomorrow.</p>
    </div>
    <!-- end row -->
  </div>
  <!--end container-->
</section>
