<section id="intro">
  <div class="container">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <div class="row jumbotron">
            <div class="span12 text-center">
              <h1>{{ title }}</h1>
              <h2>{{ short_description }}</h2>
              <h3 class="info">
                  <span class="days">{{ event_start|date('d') }}&ndash;{{ event_end|date('d') }}</span>
                  <span class="month"><b>{{ event_start|date('M') }}</b></span><span class="year">{{ event_start|date('Y') }}</span>
                  <span class="location">Frankfurt</span>
              </h3>
              <a href="/#tickets" class="btn btn-large">Get tickets</a> </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- end container -->
</section>
<!-- end intro section -->
