{% if startupweekend_content('Mentor')|length > 0 %}
    <section id="speakers">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="module-header speakers-header">
                        <h4>Mentors</h4>
                    </div>
                </div>
                
                <div class="span12 hero-unit text-center white">
                    <h2>Learn From These Great Folks</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam error eligendi tempore odit earum.
                    </p>
                </div>

                <div class="span12">
                    <div class="divider-space"></div>
                </div>

                <div class="span12">
                    <div id="speakerscarousel" class="carouselslider speakers-carousel item-4">
                        <ul>
                        {% for mentor in startupweekend_content('Mentor') %}
                            <li>
                                <div class="item">

                                    <div class="photo-wrap hover_colour">
                                        <img src="{{ asset(mentor.avatar.file.url) }}" alt=" {{ mentor.firstName }}">
                                    </div>

                                    <div class="text-wrap white">
                                        <h3>{{ mentor.firstName }}</h3>
                                        <h5>{{ mentor.occupation }}</h5>
                                        {% if mentor.company is defined %}
                                            <h5>{{ mentor.company }}</h5>
                                        {% endif %}
                                        <hr class="divider-short center" />
                                        <p class="description">
                                            Proin bibendum ipsum eget nulla molestie, vitae ultricies nulla.
                                        </p>
                                    </div>

                                    <div class="social">
                                        
                                        {% if mentor.urlFacebook is defined %}
                                            <a href="#" class="icon-wrap small facebook" title="Facebook">
                                                <i class="iconf-facebook"></i>
                                            </a>
                                        {% endif %}

                                        {% if mentor.urlTwitter is defined %}
                                        <a href="#" class="icon-wrap small twitter" title="Twitter">
                                            <i class="iconf-twitter"></i>
                                        </a>
                                        {% endif %}

                                        {% if mentor.urlGoogle is defined %}
                                        <a href="#" class="icon-wrap small google" title="Google+">
                                            <i class="iconf-gplus"></i>
                                        </a>
                                        {% endif %}

                                        {% if mentor.urlLinkedIn is defined %}
                                        <a href="#" class="icon-wrap small linkedin" title="LinkedIn">
                                            <i class="iconf-linkedin"></i>
                                        </a>
                                        {% endif %}

                                    </div>

                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endif %}
